body {
  margin: 0;
  padding: 0;
  display: flex;

  font-family: sans-serif;
  overflow: hidden;

  background-color: #222222;
  color: #ffffff;
}

#root {
  width: 100%;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

button {
  cursor: pointer;
}

@import "../static/pages/create-lobby/style";
@import "../static/pages/homepage/style";
@import "../static/pages/join-lobby/style";
@import "../static/pages/lobby-page/style";
@import "../static/pages/not-found-page/style";
@import "../static/pages/error-page/style";
@import "../static/pages/game-page/style";
@import "../static/pages/victory-page/style";
